<div>
	<section class="showcase">

		 <header>
			  <h2 class="branding">Tom .Inc</h2>
			  <div class="toggle"></div>

		 </header>
		 <video autoplay="" muted loop="" src="video/video.mp4"></video>
		 <div class="overlay"></div>
		 <div class="text">
			  <h2>Float Like A Butterfly <br> Sting Like A Bee </h2>
		 </div>
	</section>
	<div class="menu">
		 <ul>
			  <li>
				   <a href="/">Home</a>
			  </li>
			  <li>
				   <a href="API">API</a>
			  </li>
		 </ul>

		 <!-- this bit is for the boxs that are around the mouse -->
	</div>
	<div class="box"></div>
	<div class="box"></div>
	<div class="box"></div>
	<div class="box"></div>
	<div class="box"></div>
	<div class="box"></div>
	<div class="box"></div>
	<div class="box"></div>

	<!-- This gives the links to the images for the slide show -->
	<div class="slideshow-container">
		 <div class="mySlides fade">
			  <div class="numbertext"> 1 / 4 </div>
			  <img src="img/1.jpg" style="width:100%">
		 </div>
		 <div class="mySlides fade">
			  <img src="img/2.jpg" style="width:100%">
		 </div>
		 <div class="mySlides fade">
			  <div class="numbertext"> 3 / 4 </div>
			  <img src="img/3.jpg" style="width:100%">
		 </div>
		 <div class="mySlides fade">
			  <div class="numbertext"> 4 / 4 </div>
			  <img src="img/4.jpg" style="width:100%">
		 </div>
		 <a class="prev" onclick="negSlides()">&#10094;</a> <!--need help to put this in javascraipt-->
		 <a class="next" onclick="showSlides()">&#10095;</a>
		 <br>
		 
	</div>
</div>
<div class="grid-container">
	<div class="grid-item1">
		 <a href="https://www.google.com" target="_blank">
			  <img src="img/EndImag/5.jpg" style="width:100%">
		 </a>
	</div>
	<!--This is for some of the images in the grid that are not from the API -->
	<div class="grid-item2">
		 <a href="https://www.google.com" target="_blank">
			  <img src="img/EndImag/6.jpg" style="width:100%">
		 </a>
	</div>
	<div class="grid-item3">
		 <a href="https://www.google.com" target="_blank">
			  <img src="img/EndImag/7.jpg" style="width:100%">
		 </a>
	</div>
	<div class="grid-item4">
		 <a href="https://www.google.com" target="_blank">
			  <img src="img/EndImag/8.jpg" style="width:100%">
		 </a>
	</div>
	<div class="grid-item5">
		 <a href="https://www.google.com" target="_blank">
			  <img src="img/EndImag/9.jpg" style="width:100%">
		 </a>
	</div>
	<div class="grid-item6">
		 <a href="https://www.google.com" target="_blank">
			  <img src="img/EndImag/10.jpg" style="width:100%">
		 </a>
	</div>
	<div class="grid-item7">
		 <a href="https://www.google.com" target="_blank">
			  <img src="img/EndImag/11.jpg" style="width:100%">
		 </a>
	</div>
	<div class="grid-item8">
		 <a href="https://www.google.com" target="_blank">
			  <img src="img/EndImag/12.jpg" style="width:100%">
		 </a>
	</div>
	<div class="grid-item9">
		 <a href="https://www.google.com" target="_blank">
			  <img src="img/EndImag/13.jpg" style="width:100%">
		 </a>
	</div>
	<div class="grid-item10">
		 <a href="https://www.google.com" target="_blank">
			  <img src="img/EndImag/14.jpg" style="width:100%">
		 </a>
	</div>
</div>
<script src="javaScript/main.js"></script>
<script src="javaScript/api.js"></script>