<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css\API.css">
    <title>API</title>
</head>
<body>
    
    <div class="text">

    <p id =countryname></p>
    <p style="color: black;" id =countryflag></p>
    <p style="color: black;" id =teamname></p>
    <p style="color: black;" id =teamlogo></p>
    <p style="color: black;" id =teamgoals></p>
    <p style="color: black;" id =totalhomegoals></p>

</div>
    <div class="pic_output">
        
    </div>
    
    <script src="java/api.js"></script>
</body>
</html>