<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css\style.css">
    <title>Web Page For Web</title>
    
</head>
<body>
  


    <section class="showcase">  <!-- needs to have active after showcase to make menu work -->
        <header>
            <h2 class="branding">Tom .Inc</h2>
            <div class="toggle"></div>  <!-- needs to have active after toggle to make menu work -->
        </header>

        <video src="video\video.mp4" muted loop autoplay></video>

        <div class="overlay"></div>

        <div class="text">
            <h2>Float Like A Butterfly <br> Sting Like A Bee </h2> 
        </div>
        
    </section>

    <div class="menu">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            

        </ul>
    </div>

<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>
<div class="box"></div>


<div class="middle">

  

  <div class="slideshow-container">

    <div class="mySlides fade">
      <div class="numbertext">1 / 4</div>
      <img src="img\1.jpg" style="width:100%"> 
      <div class="Text">Caption 1</div>
    </div>
    
    <div class="mySlides fade">
      <div class="numbertext">2 / 4</div>
      <img src="img\2.jpg" style="width:100%">
      <div class="Text">Caption 2</div>
    </div>
    
    <div class="mySlides fade">
      <div class="numbertext">3 / 4</div>
      <img src="img\3.jpg" style="width:100%">
      <div class="Text">Caption 3</div>
    </div>

    <div class="mySlides fade">
      <div class="numbertext">4 / 4</div>
      <img src="img\4.jpg" style="width:100%">
      <div class="Text">Caption 4</div>
    </div>
    
    <a class="prev" onclick="negSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    
    </div>
    <br>
                                       
</div>

<div class="end">

  <div class="Image-5">
   <img src="img\EndImag\5.jpg" style="width:100%">
  </div>

  <div class="Image-6">
    <img src="img\EndImag\6.jpg" style="width:100%" >
  </div>

   <div class="Image-7">
    <img src="img\EndImag\7.jpg" style="width: 100%">
  </div>
<!---
  <div class="Image-8">
    <img src="img\EndImag\8.jpg" style="width:200%">
  </div>

  <div class="Image-9">
    <img src="img\EndImag\9.jpg" style="width:200%">
  </div>

  <div class="Image-10">
    <img src="img\EndImag\10.jpg" style="width:200%">
  </div>

  <div class="Image-11">
    <img src="img\EndImag\11.jpg" style="width:200%">
  </div>

  <div class="Image-12">
    <img src="img\EndImag\12.jpg" style="width:200%">
  </div>

  <div class="Image-13">
    <img src="img\EndImag\13.jpg" style="width:200%">
  </div> --->

  
</div>

<p id='stuff' ></p>

</body>

<script src="java\main.js"></script>
</html>